USE [master]
GO
/****** Object:  Database [UAS_PBD]    Script Date: 15/01/2018 19.16.47 ******/
CREATE DATABASE [UAS_PBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UAS_PBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UAS_PBD.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UAS_PBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\UAS_PBD_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UAS_PBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UAS_PBD]
GO
/****** Object:  Table [dbo].[Akses]    Script Date: 15/01/2018 19.16.47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Akses](
	[ID_User] [varchar](50) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Hak_Akses] [varchar](50) NULL,
 CONSTRAINT [PK_Akses] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Master_Barang]    Script Date: 15/01/2018 19.16.47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Master_Barang](
	[Kode_Barang] [char](5) NOT NULL,
	[Nama_Barang] [varchar](50) NULL,
	[Tipe_Barang] [varchar](50) NULL,
	[Harga_Beli] [int] NULL,
	[Harga_Jual] [int] NULL,
	[Stok] [int] NULL,
 CONSTRAINT [PK_Master_Barang_1] PRIMARY KEY CLUSTERED 
(
	[Kode_Barang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Master_Customer]    Script Date: 15/01/2018 19.16.47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Master_Customer](
	[ID_Customer] [char](5) NOT NULL,
	[Nama_Customer] [varchar](100) NULL,
	[Alamat_Customer] [varchar](100) NULL,
	[Telp_Customer] [varchar](50) NULL,
 CONSTRAINT [PK_Master_Customer] PRIMARY KEY CLUSTERED 
(
	[ID_Customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Master_Karyawan]    Script Date: 15/01/2018 19.16.47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Master_Karyawan](
	[ID_Karyawan] [char](6) NULL,
	[Nama_Karyawan] [varchar](100) NULL,
	[Alamat_Karyawan] [varchar](100) NULL,
	[Telp_Karyawan] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Master_Supplier]    Script Date: 15/01/2018 19.16.47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Master_Supplier](
	[ID_Supplier] [char](5) NOT NULL,
	[Nama_Supplier] [varchar](100) NULL,
	[Alamat_Supplier] [varchar](100) NULL,
	[Telp_Supplier] [varchar](50) NULL,
 CONSTRAINT [PK_Master_Supplier] PRIMARY KEY CLUSTERED 
(
	[ID_Supplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pembelian]    Script Date: 15/01/2018 19.16.47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pembelian](
	[No_Transaksi] [char](6) NULL,
	[Tanggal] [date] NULL,
	[Nama_Supplier] [varchar](100) NULL,
	[Kode_Barang] [char](5) NULL,
	[Nama_Barang] [varchar](50) NULL,
	[Harga_Beli] [int] NULL,
	[Jumlah_Barang] [int] NULL,
	[Total_Harga] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Penjualan]    Script Date: 15/01/2018 19.16.47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Penjualan](
	[No_Transaksi] [char](6) NULL,
	[Tanggal] [date] NULL,
	[Nama_Customer] [varchar](100) NULL,
	[Kode_Barang] [char](5) NULL,
	[Nama_Barang] [varchar](50) NULL,
	[Harga_Jual] [int] NULL,
	[Jumlah_Barang] [int] NULL,
	[Total_Harga] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
